<!-- Footer -->
<footer class="page-footer">

<!-- Footer Links -->
<div class="container-fluid">
	<div class="text-center">
	<!-- An arrow allowing the user to scroll to the top of the page -->
		<a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a><br><br>
	</div>
    
	<!-- Grid row -->
    <div class="row">
		<!-- Grid column with a Newsletter link -->
			<div id="footer" class="col-sm-3">
				<!-- Content -->
				<a href="/newsletter"><h5 class="text-uppercase">Sign up to a newsletter</h5></a>
				<p>Get special offers and latest news.</p>
			</div>
		<!-- Grid column with a Privacy and Terms & Conditions links -->
			<div class="col-sm-2">
				<ul class="list-unstyled">
					<li><a href="/privacy">Privacy</a></li>
					<li><a href="/terms">Terms & Conditions</a></li>
				</ul>
			</div>
		<!-- Grid column -->
			<div class="col-sm-3">
				<!-- Links to About and Connect With Us pages-->
				<ul class="list-unstyled">
				<li><a href="/about">About</a></li>
				<li><a href="/connect">Contact</a></li>
				</ul>
			</div>
		<!-- Grid column with social media icons -->	
			<div class="social">		
				<div class="col-sm-4">
					<a href="https://www.facebook.com/bigfootbandcamp/" target="_blank"> <i class="fa fa-facebook fa-4x"></i></a>
					<a href="https://twitter.com/search-home?lang=en-gb" target="_blank"> <i class="fa fa-twitter fa-4x"></i></a>
					<a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-4x"></i></a>
					<a href="https://www.youtube.com/?gl=GB&hl=en-GB" target="_blank"><i class="fa fa-youtube fa-4x"></i></a>
					<a href="https://www.pinterest.co.uk/" target="_blank"><i class="fa fa-pinterest fa-4x"></i></a>
				</div>
			</div>
		</div>
		<!-- Grid row -->
  </div>
<!-- Footer Links -->

	<!-- Copyright -->
	<div class="footer-copyright ">© 2019 Bigfoot Bandcamp Festival    
	</div>

</footer>
<!-- Footer -->