<%#Create a template for the head part%>

<meta charset="UTF-8">

<%# Set the width of the page for the device's screen-width and the initial zoom level, add a collapsible navbar %>
<meta name="viewport" content="width=device-width, initial-scale=1">

<%# Use the latest version of IE and Chrome rendering engine %>
<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">

<%# Provide information that can be used by the search engine %>
<meta name="keywords" content="festival, bigfoot, bandcamp, camping">

<%# Provide information about the web app author %> 
<meta name="author" content="Irmina Janvier">

<%# Define the title of the web app page %> 		
<title>Website | <%= page %></title>

<%# Get the active tab in the menu bar %>
<meta name="active-menu" content="menuId %>">