<!DOCTYPE html>
<html lang="en">

<!-- Search for a partial file _head -->
<head>
<% include partials/_head %>
</head>
<!-- Search for a partial file _script with links to formatting files -->
<% include partials/_script %>
<!-- Set a responsive fixed width container -->
<body class="about" id="about" data-spy="scroll" data-target=".navbar" onload="checkCookie()" data-offset="60">
<!-- Search for a partial file _menu -->
<header>
<% Include partials/_menu %>
</header>

<main>
<div class="container-fluid bg-5 text-center">
  <h2>About Bigfoot Bandcamp festival</h2>
  <p>Bigfoot Band Camp Music Festival featuring a diverse array of musical styles in an outdoor setting.
	Bigfoot Band Camp provides musicians, artisans & the local community a chance to unite and promote in a free will environment. 
	<p></p><br>
	<p>Bands and musicians who played with us during last years: Kashmir, The Voodoo Fix, Krank Daddies, Herber Wiser,The Giving Tree Band, Overman, Jimmy Nick and Don't Tell Mama, Killer Moon, Chicago Farmer, Jaik Willis, Riff/Raff Chicago, Audiobon, Justin Yates, Goliathon, Dogs of Fortune, Ahymnsa, Hardwood Boys, Kash'd, Dylan Dog, Cartridge Rising, Pizza T, Machine Gun Moses and many more with a special guest: Daniel Diesel (American Pickers) and her Burlesque la' Moustache.</p>
	<br><p> We have Fire Spinners, Belly Dancers and Yoga Seminars.</p>
	<br><p>Local vendors will be selling a variety of reasonably priced foods. </p>
</div>
</main>

<footer>
   <% include partials/_footer %>
</footer>

</body>
</html>