<!DOCTYPE html>
<html lang="en">

<!-- Search for a partial file _head -->
<head>
<% include partials/_head %>
</head>

<!-- Search for a partial file _script with links to formatting files -->
<% include partials/_script %>

<!-- Set a responsive fixed width container -->
<body class="privacy" id="privacy" data-spy="scroll" data-target=".navbar" onload="checkCookie()" data-offset="60">

<!-- Search for a partial file _menu -->
<header>
<% include partials/_menu %>
</header>

<main>
<div class="container-fluid bg-5 text-center">
	<h2>Privacy policy</h2>
	<p>We are committed to protecting the personal information we collect, store and use.
	<p></p>
	<br><p>	To be added.</p>
	</div>
</main>

<footer>
<% include partials/_footer %>
</footer>

</body>
</html>