<!DOCTYPE html>
<html lang="en">

<!-- Search for a partial file _head -->
<head>
<% include partials/_head %>
</head>

<!-- Search for a partial file _script with links to formatting files -->
<% include partials/_script %>

<!-- Set a responsive fixed width container -->
<body class="terms" id="terms" data-spy="scroll" data-target=".navbar" onload="checkCookie()" data-offset="60">

<!-- Search for a partial file _menu -->
<header>
<% include partials/_menu %>
</header>

<main>
	<div class="container-fluid bg-5 text-center">
		<h2>Terms & Conditions</h2>
		<p>This website is owned by Bigfoot bandcamp, LLC.
		<p> To be added.</p>
		<br><p> </p>
		<br><p> </p>
	</div>

</main>

<footer>
<% include partials/_footer %>
</footer>

</body>
</html>