<!DOCTYPE html>
<html lang="en">

<!-- Search for a partial file _head -->
<head>
<% include partials/_head %>

</head>
<!-- Search for a partial file _script with links to formatting files -->
<% include partials/_script %>

<!-- Set a responsive fixed width container -->
<body class="vendors" id="vendors" data-spy="scroll" data-target=".navbar" onload="checkCookie()" data-offset="60">

<!-- Search for a partial file _menu -->
<header>
<% include partials/_menu %>
</header>

<main>
	<div class="container-fluid bg-5 text-center">
		<h2>Trading at Bigfoot</h2>
		<p>To be a vendor simply email us. Once your application has been approved, only purchase a “Weekend Pass” ticket for each person - in advance, and you will then be assigned a vending site.</p>
	</div>
	<div class="container-fluid bg-1 text-center">
		<img src="img/vendors1.jpg" class="img-circle" alt="Vendor 1">
	</div>
	<div class="row">
		<div class="col-sm-8">    
			<div class="jumbotron">
				<h2>Traders FAQs</h2>
				<p>	Vendors must supply their own equipment & everything they need for their sale.</p>
				<p>Approved vendors will receive advertising from the fest on our Facebook page. 
				Please e-mail us a link to your website, logo, pictures, statement of what you are selling, 
				and we will make people aware that you will be there.</p>
				<p>	It is recommended that you get you tickets asap from our Facebook page or www.bigfootbandcamp.com  
				to secure your spot.<p> 
				<p>There are electrical outlets on the vendor site for food vendors, you will need 
				your own extension cords, lights, etc. Set up begins Thursday August 25th or Friday morning.</p>
				<p><b>No illegal products, fireworks or glass bottles, you will be required to clean up your own area
				to pre -existing conditions.</b>
				</p>
			</div>
		</div>
		<div class="col-sm-4">        
			<div class="well well-lg">
				<h3>Register to trade!</h3>
				<p>Send an email to <a href="mailto:bigfoot@gmail.com?subject=HTML link">vendors@bigfoot.com</a> 
			</div>
		</div>
	</div>
</main>

<footer>
<% include partials/_footer %>
</footer>

</body>
</html>